/* --- || RESETS --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}


/* --- HEADER ---  */
header {
  display: flex;
  justify-content: center;
  height: 80px;
}

/* --- NAVBAR --- */
.nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-decoration: none;
}

.nav a {
  padding: 20px;
  text-decoration: none;

}

h1 {
  display: flex;
  justify-content: center;
  padding: 20px;
}
/**/
/**/
/**/